* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --gray-color: #8a8a8a;
  --color-secondary: #eaeaea;
  --white-color: #fff;
  --success-color: #28a745;
  --color-quaternary: #f5f5f5;
  --text-color: #333;
}

ul {
  list-style: none;
}

body {
  background-color: var(--white-color);
  color: var(--text-color);
}

main {
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid var(--gray-color);
  margin-top: 60px;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.title {
  margin-left: 20px;
  font-size: 24px;
  color: var(--gray-color);
}

#task {
  outline: none;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  font-style: italic;
  border: none;
}

.head-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-right: 20px;
  padding-left: 10px;
}

#refresh-btn {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

#refresh-btn:hover {
  opacity: 0.5;
}

#refresh {
  font-size: 15px;
}

#addTask {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

#addTask span {
  font-size: 18px;
  color: var(--gray-color);
}

.clear-container {
  border-top: 1px solid var(--gray-color);
}

#clear-btn {
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
}

form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-right: 0;
  position: relative;
  border-top: 0.6px solid rgb(216, 216, 216);
  border-right: none;
  border-bottom: 0.6px solid rgb(216, 216, 216);
  border-left: none;
}

.todo-edit {
  border: none;
}

form input[type='text'] {
  border: none;
  font-style: italic;
  width: 15%;
  padding: 1%;
}

input[type='text']:focus {
  outline: none;
}

.todo-item {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}

.todo-item:not(:last-child) {
  border-bottom: 1px solid var(--gray-color);
}

.remove-btn {
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
}

.remove-btn:hover {
  opacity: 0.5;
}
